# Ignorar entorno virtual
venv/
env/

# Ignorar archivos de Python compilados
*.pyc
*.pyo
__pycache__/

# Ignorar archivos de configuración local
.env
*.sqlite3

# Ignorar archivos estáticos generados
/staticfiles/
media/

# Ignorar archivos de logs y caché
*.log
*.swp
